*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", sans-serif;
}

/* .month {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.week {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

.days {
    display: flex;
} */

table {
    margin: auto;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, tr, td {
    width: 150px;
    height: 100px;
    text-align: center;
}