*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", sans-serif;
}

table {
    margin: auto;
}
caption {
    margin: 65px auto 30px auto;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, tr, td {
    width: 150px;
    height: 100px;
    text-align: center;
}